# バックエンドの依存関係
fastapi
uvicorn
mangum
pydantic

# 株価データ取得のためのライブラリ
pandas
yfinance

# PosgreSQLデータベース接続用ライブラリ
sqlalchemy  # ORM
psycopg2-binary # Postgresドライバ

# 機械学習ライブラリ
xgboost # 高性能な勾配ブースティングライブラリ
scikit-learn # 機械学習ツールキット