# WebフレームワークとAPIサーバー
fastapi
uvicorn
mangum
pydantic

# 株価データ取得のためのライブラリ
pandas
yfinance

# PosgreSQLデータベース接続用ライブラリ
sqlalchemy  # ORM
psycopg2-binary # Postgresドライバ

# バックエンドサービス間の通信ライブラリ
httpx  # 非同期HTTPクライアント